header,
h2{
	text-align: center;
	color: white;
	width: 50%;
	margin: 0 auto;
}
body{
	background-image: url(pen.jpg);
}
.scoreContainer,
.scoreCounter,
.goatContainer{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	clear: left;
}
.goatButton{
	width: 23%;
	height: 260px;
	border-radius: 250px;
	float: left;
	margin: 10px;
	cursor: pointer;
}
#goatOne{
	background-color: red;
}
#goatTwo{
	background-color: blue;
}
#goatThree{
	background-color: green;
}
#goatFour{
	background-color: yellow;
}
.activate{
	background-position: center;
	background-repeat: none;
}


.activate#goatOne{
	background-image: url("goatOne.jpg");
}
.activate#goatTwo{
	background-image: url("goatTwo.png") 	
}
.activate#goatThree{
	background-image: url("goatThree.jpg");
}
.activate#goatFour{
	background-image: url("goatFour.jpg");
}
.scoreCounter{
	clear: left;

}